.article {
  color: #265a6a;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  text-decoration-line: underline;
  text-align: center;
  margin-bottom:40px;
}
.heading {
  color: #08546c;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 580px;
  height: 120px;
  margin-bottom: 100px;
}
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 273px;
  height: 251px;
  border: 1px solid black;
  border-radius: 20px;

  &:hover {
    background-color: #08546c;
    transform: translateY(-20px);
  }

  &:hover svg {
    background-color: #ffa800;
    color: white;
  }

  svg {
    margin-left: -150px;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
  }
}
.box {
  transition: .3s;
  &__heading {
    color: #0f1221;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  &__text {
    width: 240px;
    color: #b2bbbd;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
  }
}
