.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
    &__section {
      width: 100%;
      border: 1px solid black;
      border-radius: 25px;
      padding: 20px;
      
      &__title {
        text-align: center;
        font-size: 3.1rem;
      }
  
      &__block {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 3rem;
  
        &__box {
          border: 1px solid black;
          border-radius: 25px;
          padding: 15px;
          width: 20rem;
          height: 25rem;
          transition: 0.3s;
          cursor: pointer;
  
          &:nth-child(1):hover {
            background: #986221;
            transition: 0.3s;
            }
          &:nth-child(2):hover {
            background: #186c10;
            transition: 0.3s;
          }
          &:nth-child(3):hover {
            background: #165e70;
            transition: 0.3s;
          }
  
          &:hover {
            transform: translateY(-30px);
            
            p{
              opacity: 1;
            transform: scale(1);
            transform: translateX(-3rem);
            transition: .1s;
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            }

          }
  
          h4 {
            text-align: center;
            margin-top: 20px;
            color: grey;
            font-size: 2.4rem;
          }
  
          p {
            opacity: 0;
            transform: scale(0);
            border: 1px solid black;
            border-radius: 20px;
            padding: 15px;
            margin-top: 3rem;
          }
        }
      }
    }
  }